body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #e2a9c6;
    height: 200px;
}
section {
    background-color: #e2a9c6;
}
footer {
    background-color: #e2a9c6;
    height: 400px;
}
div {

    text-align: center;
    background-color: #e2a9c6;
    height: 100%;
    width: 100%;
}

.bottom-start {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ff0077;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    /* font-family: inherit */
    cursor: pointer;
    width: 350px;
    height: 200px;
    font-size: 40px;
}

.bottom-start:hover {
    background: #ba005d;
}

.bottom-start:focus {
    outline: none;
    /* позволяет вам определить область контура вокруг элемента. */
    box-shadow: 5px 5px 5px 4px #7d0243;
    /* позволяет добавить тень вокруг элемента на веб-странице. */
}